name: Render and Encrypt Rmd Weekly

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsodium-dev pandoc

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Cache R packages
        uses: actions/cache@v3
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('**/renv.lock') }}
          restore-keys: ${{ runner.os }}-r-

      - name: Install R packages
        run: |
          R -e "install.packages('remotes')"
          R -e "install.packages('sodium')"
          R -e "install.packages('kableExtra')"
          R -e "install.packages('flexdashboard')"
          R -e "remotes::install_local('encryptedRmd')"

      - name: Render and Encrypt
        run: Rscript render_and_encrypt.R
        env:
          PW_HTML_ENCRYPT: ${{ secrets.PW_HTML_ENCRYPT }}

      - name: Commit and push encrypted file
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add example_encrypted.html
          git commit -m 'Update encrypted HTML'
          git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}